{% extends "navbar.html" %}

{% block body %}

<h1>About Page</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo purus felis, vitae tristique arcu aliquam quis. In vestibulum sed justo et pellentesque. Proin aliquet dolor suscipit tortor mollis, a venenatis sem fermentum. Aenean porta velit justo, ac condimentum lorem vestibulum ac. Nunc ipsum tortor, pulvinar quis hendrerit ut, convallis id dolor. Nulla aliquet sagittis varius. Quisque scelerisque semper leo, eu tempus lorem blandit ac. Integer non semper massa. Etiam velit urna, vehicula semper sagittis id, maximus sollicitudin risus. Curabitur ornare lacus orci, eu maximus diam fringilla dapibus. Suspendisse ex magna, iaculis vel ante non, pulvinar iaculis neque. Donec quis odio ligula. Duis at porta augue, eget accumsan lorem. Aliquam sed nunc quis felis varius pretium. Nam lacinia, nunc nec pellentesque sollicitudin, neque elit vulputate eros, ut dignissim lorem orci in nibh.

{% endblock body %}