{% extends "navbar.html" %}

{% block body %}

<h1>About Page</h1>
<p>
    Thank you for visiting our website where you will find information on our current selection of quality used cars plus details of our location, facilities and opening hours.

Car Show Room is a family owned business located 4 miles north of London and just a short drive from junctions 11 and 12 of the M1.

We usually have up to 150 cars at our prestigious ex VW showroom, so every car can be viewed in a spacious and pressure free environment. We also have a comfortable waiting area with complimentary tea and coffee.

Over the last 20 years cars have changed dramatically through improvements in technology and safety. The way Car Show Room Trade Centre does business has not.

We firmly believe that if we look after our staff and customers alike in a kind and friendly manner then this pays dividends and is mutually beneficial to all. We now have a loyal base of customers many of whom have bought several cars from us over the years.

Car Show Room employs a strict pressure-free car sales environment. We take pride in our selection of quality used cars, in fact the majority of our used cars have had only one to two owners, come with full service history and are generally no more than five years old.

Whether you have good credit or have experienced finance difficulties, we can help you with second hand car finance. We have partnered with the best names in the industry in order to offer you a complete used car finance package.

We look forward to meeting you soon!
</p>
{% endblock body %}